apiVersion: apps/v1
kind: Deployment
metadata:
  name: currency-converter
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: front-end
          image: 499403976245.dkr.ecr.us-east-2.amazonaws.com/currency-converter:latest
          ports:
            - containerPort: 3000
